body {
    font-family: Arial;
    background-color: white;
    text-align: center;
    margin: 0;
}

/* ===== TEXT ===== */

h1 {
    color: rgb(91, 170, 35);
    text-shadow: 0 0 8px rgba(125, 189, 79, 0.2);
    font-size: 80px;
}

h2 {
    color: rgb(91, 170, 35);
    font-size: 40px;
    text-shadow: 0 0 6px rgba(125, 189, 79, 0.15);
}

p {
    color: rgb(91, 170, 35);
    font-size: 28px;
    line-height: 1.6;
}

/* ===== NAVBAR ===== */

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    padding: 10px 8vw;
}

.navbar a {
    text-decoration: none;
    color: rgb(91, 170, 35);
    font-size: 22px;
    font-weight: 600;
}

/* ===== DROPDOWN ===== */

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;

    top: 100%;
    left: 0;

    background: white;
    border: 1px solid rgba(125, 189, 79, 0.2);

    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

/* ===== PAGE (ČLÁNKY) ===== */

.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

.page__content {
    margin-top: 50px;
}

/* ===== INSTAGRAM ===== */

.ig-link {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

.ig-link img {
    width: 45px;
    height: 45px;
    transition: 0.2s;
}

.ig-link img:hover {
    transform: scale(1.15);
}